<h1><%= @routines.name %></h1>
  -
<p><%= @routines.description %></p>

<% @routines.activities.each do |activity| %>
  <div class="col-10 offset-2">
    <h1><%= activity.name %></h1>
    <p><%= activity.description %></p>
  </div>
<% end %>

<div class="col-10 offset-2">
  <% if @routines.user == current_user %>
    <%= link_to "Add New Activity", new_routine_activity_path(@routines) %>
  <% end %>
</div>

<%= link_to "Create New Routine", new_routine_path %>
