<script>
  $(function () {
    $('#activity_column').sortable({
      update: function( event, ui ) {

        $.ajax( {
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { activity: { row_order_position: ui.item.index() } } 

        });
      }
    });

    $('.add_activity_btn').click(function() {
      $('#activity_column').append('<%= j render partial: "routines/activities/empty_activities", locals: {activity: @new_activities, routine: @routines} %>');
      $('.new-activity').click(function() {
        $(this).parent().parent().remove();
      });
    });
  });
</script>
<h1><%= @routines.name %></h1>
<p><%= @routines.description %></p>

<div class="row" id="activity_column">
  <% @routines.activities.rank(:row_order).each do |activity| %>
    <div class="col-10 offset-2" data-item-id="<%= activity.id %>" data-update-url="<%= routine_activity_path(activity) %>">
      <h1><%= activity.name %></h1>
      <p><%= activity.description %></p>
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      <i class="fa fa-trash" aria-hidden="true"></i>
    </div>
  <% end %>
</div>

<div class="col-10 offset-2">
  <% if @routines.user == current_user %>
    <%= link_to "Add New Activity",'javascript:;',class:"add_activity_btn" %>
  <% end %>
</div>

<%= link_to "Create New Routine", new_routine_path %>
